/******************tag selector******************/
body{
    background-color: #7d9fd3;
}
h1{
    color:#f1f6f7;
}
p,div,li{
    color: white;
}
hr {
    border-style: none none dotted none;
    height: 2px;
    width: 15%;
    border-width: 5px;
    border-color: #c56b48;
  }

/******************class selectors******************/

.corn{
    background-color: lightblue;
}
.fire{
    background-color: red;
}
.circle{
    border-radius: 100%;
}
.corn:hover,.fire:hover{
    background-color: white;
}

/******************identity selector******************/

