body{
    background-color: #B7B597 !important;
    font-family: "Alegreya", serif !important;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
}
 
.header{
    height: 100vh;
    width: 100%;
    background-color: #254336;
    color: #DAD3BE;
    background: linear-gradient(to right,#254336a8,#25433660), url(../resumeImages/rain.jpg);
    background-size:cover;
}
.nav-link {
    color: #DAD3BE !important;
}
.navbar{
    background-color: #6B8A7A;
}
.btn{
    background-color: #254336 !important;
    border-color: #DAD3BE !important;
    border-radius: 10rem !important;
    padding: 1.25rem 2.25rem !important;
}
.btn:active{
    background-color: #B7B597 !important;
}
.btn:hover{
    background-color:#53635b59 !important ;
}
.h-100{
    height: 100%;
    width: 60%  !important;
}
.h-120{
    height: 100%;
}

.move-down{
    padding-top: 30%;
}
.message{
    background-image: linear-gradient(to right,#6B8A7A,#B7B597) ;
}
.message:hover{
    background-image: linear-gradient(to right,#6B8A7A,#6B8A7A) ;
}
.card{
    font-size: .6rem ; 
    background-color: #DAD3BE !important;
    background: linear-gradient( to bottom right,#6b8a7a3f,#B7B597) !important;
}
.card:hover{
    background-image: linear-gradient(to right, #6b8a7ac4,#6b8a7a42) !important;
}

.card-img-top{
    width: 40% !important;
    margin-left: 30%;
}
.contactimg{
    width: 2%;
    margin: 0.2%;
}
.footer{
    background-color: #254336;
    color: #DAD3BE;
}